/* Directives générales */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: rgb(64, 128, 247);
}

section {
    padding: 5px;
    background-color: rgb(66, 66, 66); 
    border-radius: 10px;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.3);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: black;
    padding: 10px;
    margin: 0;
}

footer p:first-child {
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.italic {
    font-style: italic;
}

nav {
    position: sticky;
    top: 0px;
    left: 0px;
}

/* Style du menu */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: gray;
    display: flex;
    justify-content: center;
}

nav li a {
    display: block;
    background-color: white;
    color: black;
    min-width: 150px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

nav li a.active {
    background-color: black;
    color: white;
}

nav li a:hover {
    background-color: rgb(77, 77, 77);
}

/* cas des sous menu */

nav li.section {
    position: relative;
}

nav li.section:hover > ul.sub_menu {
    visibility: visible;
}

nav ul.sub_menu {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

nav ul.sub_menu li.section > ul.sub_menu {
    left: 100%;
    top: 0;
    width: max-content;
}

/* Style du tableau Joueur */

#joueur_table {
    border-collapse: collapse;
    width: 100%;
}

#joueur_table img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#joueur_table td, #joueur_table th {
    border: 1px white solid;
    padding: 10px;
}

#joueur_table th {
    background-color: white;
    color: black;
}

#joueur_table tr:nth-child(even) {
    background-color: gray;
}

#joueur_table tr:hover:not(#table_link_to_top) {
    background-color: white;
    color: black;
}
#joueur_table th, #joueur_table tr:hover:not(#table_link_to_top) td {
    border-color: black;
}

#table_link_to_top{
    text-align: center;
}

#add_row_container {
    visibility: hidden;
    position: absolute;
    background-color: white;
    padding: 1em;
    border-radius: 15px;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}

/* Formulaire */
#contact_form div {
    display: flex;
}

#contact_form label, #contact_form input {
    display: block;
}