<section>
    <div>
        <audio controls autoplay src="assets/sounds/footstepsmarching.mp3">
            Votre navigateur ne suporte pas l'élément <code>audio</code>
        </audio>
        <ul>
            <li>Titre : Foot</li>
            <li>Description: Ambiance des suporters</li>
        </ul>
    </div>
    <div>
        <a href="assets/sounds/boooo.mp3" target="_blank">BOOO</a>
        <ul>
            <li>Titre: Boooo</li>
            <li>Description: Hue des suporters</li>
        </ul>
    </div>
    <div>
        <a href="assets/sounds/cheers.mp3" target="_blank">Cheers</a>
        <ul>
            <li>Titre: Cheers</li>
            <li>Description: Encouragements des suporters</li>
        </ul>
    </div>
    <div>
        <a href="assets/sounds/crowdhomerunapplause.mp3" target="_blank">Applause</a>
        <ul>
            <li>Titre: Applause</li>
            <li>Description: Applaudissements des suporters</li>
        </ul>
    </div>
</section>