<section>
    <form id="contact_form" action="" method="post">

        <div>
            <fieldset>
                <label for="lastname">Nom :</label>
                <input type="text" name="lastname_input" id="lastname" required>

                <label for="firstname">Prénom :</label>
                <input type="text" name="firstname_input" id="firstname">
            </fieldset>

            <fieldset>
                <label for="email">email :</label>
                <input type="email" name="email_input" id="email" required>

                <label for="phone">Numéro de téléphone :</label>
                <input type="tel" name="phone_input" id="phone" pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" required>
            </fieldset>
        </div>

        <fieldset>
            <label for="message">Message :</label>
            <textarea name="message_textarea" id="message" cols="30" rows="10" required></textarea>
        </fieldset>

        <button type="submit">Envoyer</button>
    </form>
</section>
