<section>
    <table id="joueur_table">
        <tbody>
            <tr>
                    <th>Photo</th>
                    <th>Nom</th>
                    <th>Poste</td>
                    <th>Description</th>
                    <th></th>
            </tr>
            
            <tr id="table_link_to_top">
                <td colspan="5"><a href="#joueur_table">^ Haut du tablau ^</a></td>
            </tr>
        </tbody>
    </table>


    <button id="add_row_button">Ajouter un joueur</button>

    <div id="add_row_container">

        <button id="add_row_exit">❌</button>

        <form id="add_row_form">
            
            <fieldset>
                <label for="player_name">Nom :</label>
                <input type="text" name="name" id="player_name" required>
                
                <label for="player_position">Poste :</label>
                <input type="text" name="position" id="player_position" required>
            </fieldset>
           <fieldset>
               <label for="player_age">Age :</label>
               <input type="number" name="age" id="player_age" required>
               
               <label for="player_old_clubs">Ancien clubs :</label>
               <input type="text" name="old_clubs" id="player_old_clubs" placeholder="club1, club2, club3..." required>
           </fieldset>
    
           <fieldset>
               <label for="player_image_file">Image :</label>
               <input type="file" name="image" id="player_image_file" accept="image/*">

               <img id="player_image" src="" alt="Image choisie" />
           </fieldset>
           
           <button type="submit">Ajouter un joueur</button>
        </form>
    </div>
</section>