<section>
    <div>
        <video controls autoplay width="500">
            <source src="/assets/videos/Entrainement.mp4" type="video/mp4">
            Désoler, mais vôtre navigateur ne supporte pas les vidéos embarquées.
        </video>
        <ul>
            <li>Titre : Entrainement du vendredi soir</li>
            <li>Description : Belles images de l'entrainement du vendredi soir prise en drone.</li>
        </ul>
    </div>
    <div>
        <video controls width="500">
            <source src="/assets/videos/Défense.mp4" type="video/mp4">
            Désoler, mais vôtre navigateur ne supporte pas les vidéos embarquées.
        </video>
        <ul>
            <li>Titre : Une belle action défenssive</li>
            <li>Description : Notre drone à enrigistré une des belles actions défenssive du dernier match</li>
        </ul>
    </div>
</section>
